<form [formGroup]="searchForm" (ngSubmit)="onSearch()" autocomplete="off">
  <div formGroupName="searchGroup">
    <div class="mb-3 form-floating">
      <input
        type="text"
        class="form-control"
        [class.is-valid]="
          name?.dirty && name?.value && name?.valid && searchGroup.valid
        "
        [class.is-invalid]="name?.dirty && name?.invalid && searchGroup.invalid"
        placeholder="Client Name"
        formControlName="name"
      />
      <label>Client Name</label>
    </div>

    <div class="mb-3 form-floating">
      <input
        type="text"
        class="form-control"
        [class.is-valid]="
          card_number?.dirty &&
          card_number?.value &&
          card_number?.valid &&
          searchGroup.valid
        "
        [class.is-invalid]="
          card_number?.dirty && card_number?.invalid && searchGroup.invalid
        "
        placeholder="Client Document ID"
        formControlName="card_number"
      />
      <label>Client Document ID</label>
      @if (card_number?.hasError('pattern')) {
      <div class="invalid-feedback text-start">Only numbers are allowed.</div>
      }
    </div>

    @if (searchGroup.touched && searchGroup.errors) {
    <div class="alert alert-danger text-start">
      <ul>
        @if (searchGroup.hasError('noneFieldsFilled')) {
        <li>One field needs to be filled.</li>
        } @if (searchGroup.hasError('bothFieldsFilled')) {
        <li>Only one field can be filled.</li>

        }
      </ul>
    </div>
    } @if (validationError) {
    <div class="alert alert-danger text-start">
      <ul>
        <li>{{ validationError }}</li>
      </ul>
    </div>
    }

    <div class="mb-3">
      <button type="submit" class="btn btn-success me-2">Search</button>
      <button type="button" class="btn btn-danger me-2" (click)="reset()">
        Reset
      </button>
    </div>
  </div>
</form>
<br />
@if (clients().length>0) {
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 40%">Name</th>
        <th style="width: 30%">Client Id</th>
        <th style="width: 30%">Document Id</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients(); track client.id) {
      <tr>
        <td>
          <button class="btn btn-info" (click)="selectClient(client.id)">
            {{ client.name }}
          </button>
        </td>
        <td>
          {{ client.id }}
        </td>
        <td>{{ client.card_number }}</td>
      </tr>
      @if (selectedClientId===client.id) {
      <tr>
        <td colspan="3" style="padding-left: 40px">
          <app-client-cars [clientId]="client.id"></app-client-cars>
        </td>
      </tr>

      } }
    </tbody>
  </table>
</div>
} @if (filteredClient()) {
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Client Id</th>
        <th>Document Id</th>
        <th>Cars</th>
        <th>Services</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ filteredClient()?.name }}</td>
        <td>{{ filteredClient()?.id }}</td>
        <td>{{ filteredClient()?.card_number }}</td>
        <td>{{ filteredClient()?.car_count }}</td>
        <td>{{ filteredClient()?.service_count }}</td>
      </tr>
    </tbody>
  </table>
</div>
}
