<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 40%">Name</th>
        <th style="width: 30%">Client Id</th>
        <th style="width: 30%">Document Id</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients(); track client.id) {
      <tr>
        <td>
          <button class="btn btn-info" (click)="selectClient(client.id)">
            {{ client.name }}
          </button>
        </td>
        <td>
          {{ client.id }}
        </td>
        <td>{{ client.card_number }}</td>
      </tr>
      @if (selectedClientId===client.id) {
      <tr>
        <td colspan="3" style="padding-left: 40px">
          <app-client-cars [clientId]="client.id"></app-client-cars>
        </td>
      </tr>

      } }
    </tbody>
  </table>
</div>
